h1,
h3,
label,
div,
input,
header,
nav,
ul,
body {
    margin: 0;
    padding: 0;

}

body {
    padding-top: 132px;
    font-family: sans-serif;
    position: relative;

}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #fff;
    z-index: 9000;

}

.barraNavSuperior {
    padding: 10px;
    position: relative;
}


#logo {
    width: 50px;
    position: relative;
    top: 10px;
    display: inline-block;
}

.local {
    margin-left: 2%;
}

.Envios {
    margin-left: 9px;

}

.local,
.Envios {
    display: inline-block;
    font-size: 13px;
    font-family: sans-serif;
}

.busqueda {
    display: inline-block;
    position: relative;
    max-width: 100%;

}

#buscar,
#buscarMobile {
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    font-size: 16px;
    width: 390px;
    margin-left: 21px;
    margin-right: 0px;
    padding-right: 0px;
    border: solid #555 1px;
    color: #555;
    display: inline-block;
}

#buscar::placeholder,
#buscarMobile::placeholder {
    padding-left: 10px;
}

#imgBuscar {
    width: 30px;
    position: relative;
    top: 6px;
}

#imgFlechaDerecha {
    display: inline-block;
    position: relative;
    top: 18px;
    left: -50px;
    border-radius: 100px;
}


.backgroundImgBuscar {
    background-color: #1e72d2;
    width: 30px;
    height: 42px;
    display: inline-block;
    position: relative;
    border-radius: 3px;
    border-top-right-radius: 0px;
    left: 29px;
    top: 4px;
    z-index: 1;
}

.buscador {
    display: inline-block;
    position: relative;
    margin-right: 0px;
    padding-right: 0px;

}

#enunciado {
    display: inline-block;
    margin-right: 10px;
    font-size: 150%;
    color: #1e72d2;
}

.login {
    border-left: solid 2px hsl(212, 75%, 47%);
    display: inline-block;
    position: absolute;
    right: 40px;
    height: 50px;
    top: 22px;

}

#cuenta,
#carrito {
    width: 40px;
    margin-left: 10px;
    margin-top: 5px;
    cursor: pointer;
}


nav {
    color: #fff;
    position: relative;
    background-color: #1e72d2;
    padding: 10px;
    left: 0px;
}

nav ul {
    list-style: none;
}

nav li {
    font-size: 150%;
    margin-left: 20px;
    display: inline-block;
    cursor: pointer;
}

.loginMobile {
    display: none;
}

.contenedorProductos {
    display: flex;
    padding-top: 20px;
    position: relative;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    color: #333;
    flex-grow: 1;
}

.producto {
    position: relative;
    margin: 15px 5px;
    border-radius: 10px;
    max-width: 200px;
    border: solid 1px #1e72d2;
    padding: 36px;
    background-color: #8888880c;
}

.producto img {
    height: 130px;
    width: auto;
}

.producto button:hover {
    background: #b4b4b4;
    color: #1e72d2;
}

.nombreProducto {
    color: #444;
    font-size: 18px;
    font-family: monospace;
    font-weight: 300;
}

.precioProducto {
    font-size: 18px;
    color: rgb(1, 150, 88);
    margin: 0px;
}

.descripcion {
    margin-top: 0px;
    height: 80px;
    word-wrap: break-word;


}

::-webkit-scrollbar {
    display: none;
}

#btnVerMas {
    color: blueviolet;
    cursor: pointer;
}

.btnAagregar {
    text-align: center;
    border: solid 2px #1e72d2;
    background: none;
    padding: 10px 60px;
    margin-left: 10px;
    margin-top: 20px;
    color: #1e72d2;
    font-size: 20px;
    border-radius: 13px;
}

.imgMenu {
    display: none;
}

footer {
    display: none;
    position: relative;
    background-color: #134277;
    color: #fff;
    min-height: 50px;
    padding-top: 15px;
    text-align: center;
    z-index: 9999;
}

.footerActivo {
    display: block;
}

#spanCreador,
#derechos {
    display: block;
    margin-top: 10px;
    font-size: 15px;

}

#derechos {
    margin-top: 15px;
    text-align: center;
}

footer ul {
    list-style: circle;
}

.enunciados {
    display: inline-block;
}

#buscarCelular {
    display: none;
}

.modalBackground {
    padding-top: 30px;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #0c083680;
    backdrop-filter: blur(3px);
    display: none;
    z-index: 9997;

}

.modal {
    width: 300px;
    margin: auto;
    background-color: #fff;
    min-height: 400px;
    align-items: center;
    border-radius: 10px;
    padding: 15px;
    z-index: 9999;
}

#enunciadoModal {
    text-align: center;
    color: #1e72d2;
    margin-top: 20px;
}

#mensaje {
    color: "222";
    font-size: 20px;
}

.modal label {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #333;
}

.inputsZonaEntrega {
    margin-left: 55px;
    padding: 10px;

}

.contenedorInputsZonaEntrega {
    margin-top: 30px;
}

#enunciadoZonaEntrega {
    text-align: center;
    margin-top: 40px;
    color: #1e72d2;
}

#btnGuardar {
    margin-left: 90px;
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 6px;
    border: #1e72d2 solid 2px;
    color: #1e72d2;
    background-color: none;
}

#loade-wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    padding-bottom: 40px;
}

.loader {
    border: 9px double #f3f3f3;
    border-top: 8px solid #1e72d2;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite;


}

.notificacion {
    position: fixed;
    padding: 20px 100px;
    z-index: 9999;
    right: 40px;
    max-width: 200px;
    top: 150px;
    font-size: 20px;
    color: #fff;
    background-color: #0454afb7;
    backdrop-filter: blur(3px);
    border-radius: 30px;

}

.elegirArea h1 {
    color: #1e72d2;
}

.elegirArea {
    padding-top: 30px;
    background-image: url("../img/fondo\ articulos\ de\ pescajpg.jpg");
    background-size: cover;
}

.opciones {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.targetaDeSeleccion {
    padding: 30px;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    border: solid #1e72d2 2px;
    margin: 10px;
    color: #0077ff;
    text-shadow: 1px 1px 0px black;
}

.targetaDeSeleccion.pesca {
    background-image: url("../img/fondo\ articulos\ de\ pescajpg.jpg");
    position: relative;
    background-size: cover;
    backdrop-filter: blur(1px);


}

.targetaDeSeleccion.pesca::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: cover;
    filter: blur(1px);
    z-index: -1;
}

.targetaDeSeleccion h3 {
    text-align: center;
    color: #2e6bb1;
    margin-bottom: 10px;
    background-color: #ccccccad;
    padding: 5px;
    border-radius: 10px;
}

.targetaDeSeleccion ul {
    margin-top: 30px;
    font-size: 20px;
    font-family: sans-serif;
    height: 180px;
    list-style-position: inside;
    padding: 10px;
    background-color: #ccccccad;
    border-radius: 10px;
}

.targetaDeSeleccion.carnadas {
    background-image: url("../img/fondo\ carnadas.jpg");
    position: relative;
    background-size: cover;
    backdrop-filter: blur(1px);


}

.targetaDeSeleccion.carnadas::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: cover;
    filter: blur(2px);
    z-index: -1;
}

.targetaDeSeleccion button {
    position: relative;
    top: 10px;
    left: 40px;
    padding: 10px 30px;
    background: #b4b4b4;
    border: #1e72d2 solid 2px;
    border-radius: 10px;
    color: #0c5cb8;
}

.targetaDeSeleccion button:hover {
    background: #134277;
    color: #fff;
    border: solid 2px #0077ff;
}

#btnCerrarMapa {
    margin-left: 98px;
    margin-top: 20px;
    border: #1e72d2 2px solid;
    background: none;
    padding: 10px 30px;
    border-radius: 20px;
}

.menuCuentaPc {
    position: absolute;
    display: none;
    background-color: #13427780;
    border: #134277cb solid 4px;
    border-top: solid 12px #134277cb;
    width: 160px;
    height: 200px;
    z-index: 9999;
    top: 64px;
    right: 0px;
    color: #fff;
    border-radius: 7px;
    backdrop-filter: blur(3px);
    padding-top: 10px;
    transition: all 1s;
    animation: aparecerArea 0.5s forwards;
}

.menuCuentaPc::before {
    position: absolute;
    content: '';
    top: -30px;
    left: 122px;
    transform: translateX(-50px);
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 18px solid #134277;
}

.menuCuentaLaptop.menuCuentaActivo {
    display: block;
}


.menuCuentaPc.active {
    display: block;
}

.menuCuentaPc h3 {
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 5px;
    position: relative;
}

.menuCuentaPc button {
    border: #1e72d2 solid 1px;
    background: #000000ef;
    padding: 7px;
    left: 32px;
    margin-top: 15px;
    color: #1e72d2;
    border-radius: 10px;
    position: relative;

}

.menuCuentaPc button:hover {
    color: #ff0000;
    border: #d21e1e solid 1px;
}

.menuCuentaPc button.iniciarSesion:hover {
    color: #48ff00;
    border: #1ed287 solid 1px;
}

.menuCuentaLaptop {
    position: absolute;
    display: none;
    background-color: #13427780;
    border: #134277cb solid 4px;
    border-top: solid 12px #134277cb;
    width: 160px;
    height: 200px;
    z-index: 9999;
    top: 64px;
    right: 0px;
    color: #fff;
    border-radius: 7px;
    backdrop-filter: blur(3px);
    padding-top: 10px;
    transition: all 1s;
    animation: aparecerArea 0.5s forwards;
}

.menuCuentaLaptop::before {
    position: absolute;
    content: '';
    top: -30px;
    left: 122px;
    transform: translateX(-50px);
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 18px solid #134277;
}

.menuCuentaLaptop h3 {
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 5px;
    position: relative;
}

.menuCuentaLaptop button {
    border: #1e72d2 solid 1px;
    background: #000000ef;
    padding: 7px;
    left: 32px;
    margin-top: 15px;
    color: #1e72d2;
    border-radius: 10px;
    position: relative;

}

.menuCuentaLaptop button:hover {
    color: #ff0000;
    border: #d21e1e solid 1px;
}

.menuCuentaLaptop button.iniciarSesion:hover {
    color: #48ff00;
    border: #1ed287 solid 1px;
}






.fotoPerfil {
    width: 70px;
    border-radius: 50%;
    position: relative;
    margin-left: 40px;
    margin-top: 15px;
}

.seccionActiva {
    background-color: rgb(30, 33, 59);
    border-radius: 50%;
}

#btnIniciarSesion {
    position: relative;
    top: 70px;
    left: 80px;
    padding: 10px 30px;
    background: none;
    border: #1e72d2 solid 2px;
    border-radius: 10px;
}

#btnIniciarSesion:hover {
    background-color: #999;
}

#enunciadoIniciarSesion {
    padding-top: 40px;
    font-size: 20px;
    color: #1e72d2;
    text-align: center;
    padding-bottom: 10px;
    font-family: sans-serif;

}

.labelLogin {
    font-size: 19px;
    margin-bottom: 10px;

}

.inputsLogin {
    width: 100%;
    padding: 10px;
    position: relative;
    left: -12px;
    border: none;
    border-bottom: solid #1e72d2;
    outline: none;
    font-size: 16px;

}

.inputsLogin::placeholder {
    color: #1e72d2;
}

.inputsLogin:focus {
    border-bottom: solid #4be20f;
}

.contenedorSugerenciasBusqueda {
    display: block;
    position: absolute;
    z-index: 9999;
    height: auto;
    background: #134277c4;
    backdrop-filter: blur(3px);
    margin-top: 2px;
    width: 90%;
    left: 30px;
}

.ulSugerenciasBusqueda {
    margin: 0;
    padding: 0;
    list-style: none;

}

.ulSugerenciasBusqueda li {
    font-size: 19px;
    font-family: sans-serif;
    color: #fff;
    text-shadow: 6px 3px 3px black;
    cursor: pointer;
    padding: 8px;

}

.ulSugerenciasBusqueda li:hover {
    background-color: #134277;

}

.contenedorInputCantidad {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    width: 81px;
    display: inline-block;

}

.classInputCantidad {
    width: 16px;
    border: none;
    padding: 5px;
    background: none;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    ;
}

.classInputCantidad:focus {
    outline: none;
    border: none;
}

.classInputCantidad::-ms-clear {
    display: none;
}

.classInputCantidad::-webkit-outer-spin-button,
.classInputCantidad::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btnControlInput {
    background: none;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    height: 100%;
}

.btnControlInput:hover {
    background-color: #cccccc;

}



.tarjetaProducto {
    margin: 15px 5px;
    border-radius: 10px;
    width: 400px;
    padding: 36px;
    background-color: #e0e0e0;
    height: auto;
}

.tarjetaProducto h3 {
    text-align: center;
    font-size: 25px;
    color: #222;
    margin-top: 0px;
    margin-bottom: 20px;

}

.contenedorInputCantidadAmpliado {
    display: block;
    border: 1px solid #1e72d2;
    border-radius: 5px;
    overflow: hidden;
    width: 81px;
    padding-top: 1px;
    height: 27px;
    margin-top: 15px;
}

.tarjetaProducto .btnAagregar {
    margin-left: 110px;
}

.tarjetaProducto img {
    width: 400px;
    text-align: center;
    margin-bottom: 20px;
}


/* estilo sobre nosotros */
.contenedorSobreNosotros {
    padding: 30px;
    text-indent: 30px;
    background: #0077ff;
    color: #fff;
    width: 80%;
    padding-bottom: 20px;
    border-radius: 30px;
    margin-bottom: 30px;
    z-index: 1;
}

.contenedorSobreNosotros h1 {
    text-align: center;

}


/* ---------------- */


/* carrito */

.btnEliminarProductoCarrito {
    background: url('../img/imgDelete.png');
    background-position: center;
    width: 40px;
    height: 40px;
    padding: 3px;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    background-color: #d3e1ffd7;
    backdrop-filter: blur(3px);
}

.btnEliminarProductoCarrito:hover {
    background-color: #6d6d6d;
}



.footerCarrito ul {
    list-style: none;
}

.contenedorProductos.carrito {
    display: grid;
    grid-template-columns: 70% 30%;

}

.divTerminarCompra {
    display: block;
    position: relative;
    padding-top: 0px;
    height: 100%;

}

.ProductosEnElCarrito {
    display: grid;
    grid-template-rows: auto 1fr auto;
    word-break: break-all;
    display: inline-block;
    position: relative;
    top: -20px;
    margin-bottom: -20px;
    min-height: 80vh;
}

.footerCarrito {
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 100%;

}

.ProductosEnElCarrito .listadoProductos {
    padding-bottom: 97px;
    overflow-y: auto;
}

.listadoProductoCarrito {
    border-bottom: solid 2px #1e72d2;
    padding: 10px;
    margin-left: 0px;
    list-style: none;
    background: radial-gradient(#dddddfad, #d3e1ffad);
}

.contenedorConfirmarCompra {
    position: fixed;
    top: 131px;
    padding: 40px;
    border: 2px solid #1e72d2;
    height: calc(100% - 217px);
    width: calc(30% - 85px);
    backdrop-filter: blur(4px);
    background: radial-gradient(#dddfdead, #d3edffad);
    border-radius: 10px;

}

.contenedorConfirmarCompra h1 {
    color: #333;
    text-align: center;
    margin: 30px 0px;
    margin-bottom: 30px;
}

.contenedorConfirmarCompra h3 {
    margin-bottom: 10px;
}

.contenedorConfirmarCompra h3 b {
    color: #1e72d2;
    font-weight: 100;
}

.contenedorConfirmarCompra h2 {
    display: inline-block;
    margin-left: 10px;
    color: rgb(97, 180, 13);
    font-size: 20px;
    font-weight: 200;
}

#labelMetodoDePago {
    display: block;
    margin-top: 15%;
}

.contenedorConfirmarCompra #confirmarCompra {
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 20px 40px;
    background: none;
    border: solid #1e72d2 2px;
    color: #1e72d2;
    border-radius: 10px;

}

#confirmarCompra:hover {
    background: #777;
    color: #fff;
}

.menuDesplegableLaptop {
    display: none;
}

.cuentaCelular {
    display: none;
}

#carritoCelular {
    display: none;
}

.buscadorCelular {
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes aparecer {
    from {
        opacity: 0;
        display: none;
        z-index: 0;
    }

    to {
        opacity: 1;
        display: flex;
        z-index: 1;

    }
}

@keyframes aparecerModal {
    from {
        opacity: 0;
        display: none;
        z-index: 0;
    }

    to {
        opacity: 1;
        display: flex;
        z-index: 9997;

    }
}




@keyframes enviarNotificacion {
    0% {
        display: none;
        height: 0;
        opacity: 0;
        padding: 0;

    }

    100% {
        display: block;
        position: fixed;
        opacity: 1;

    }
}

@keyframes ocultarNotificacion {
    0% {
        display: block;
        opacity: 1;

    }

    100% {
        display: none;
        opacity: 0;
        padding-left: 0;
    }
}

@keyframes aparecerCarrito {
    from {
        display: none;
        opacity: 0;
        height: 0;
    }

    to {
        display: auto;
        opacity: 1;
    }
}

@keyframes actualizarCarrito {
    from {
        height: 0;

    }

    to {
        height: auto;
    }

}

@keyframes desaparecerCarrito {
    from {
        display: auto;
        opacity: 1;
    }

    to {
        display: none;
        opacity: 0;
        height: 0;
    }
}



@keyframes aparecerArea {
    from {
        display: none;
        height: 0;
        opacity: 0;
    }

    to {
        display: block;
        opacity: 1;

    }
}

@keyframes desaparecerArea {
    from {
        opacity: 1;
        display: block;
    }

    to {

        height: 0;
        opacity: 0;
        display: none;
        overflow: hidden;

    }

}


/* animacion para el menu desplegable */
@keyframes aparecerMenu {
    0% {
        display: none;
        height: 0;
        opacity: 0;
    }

    100% {
        display: block;

        opacity: 1;
    }
}

@keyframes desaparecerMenu {
    0% {
        opacity: 1;
        display: block;
    }

    100% {

        height: 0;
        opacity: 0;
        display: none;


    }

}

/* ---------------- */

@keyframes desaparecer {
    from {
        opacity: 1;
        display: flex;
        z-index: 0;
    }

    to {
        opacity: 0;
        display: none;
        z-index: 1;
    }
}

@media(width<=1332px) {
    .buscador {
        display: block;
        margin-left: 0px;
    }

    header {
        height: 168px;
    }

    .elegirArea {
        padding-top: 80px;
        background-size: unset;
    }

    #buscar {
        width: 90%;
        margin-left: 0px;
    }

    #imgFlechaDerecha {
        left: 89.8%;
        top: -44px;
    }

    .imgMenu {
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 8px;
    }

    .menuCelular.activo {
        display: block;
    }

    /* menu desplegable laptop */
    .menuDesplegableLaptop {
        display: none;
        background-color: #00418bd2;
        position: absolute;
        right: 0px;
        top: 60px;
        width: 30%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 20px;
        animation-duration: 0.3s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        height: 180px;
        backdrop-filter: blur(3px);
    }

    .activo {
        display: block;
        animation-name: aparecerMenu;
    }

    .inactivo {
        animation-name: desaparecerMenu;
    }

    .menuDesplegableLaptop .localLaptop,
    .menuDesplegableLaptop .EnviosLaptop {
        display: block;
        position: relative;

    }

    .menuDesplegableLaptop a {
        color: #1ed287;
        text-decoration: none;
        font-size: 19px;
    }

    /* ------------- */

    /* ul {
        display: inline-block;
        margin-top: 10px;
    } */

    nav {
        height: 40px;
        top: -56px;
    }

    .login {
        display: none;
    }

    .contenedorProductos {
        padding-top: 40px;

    }

    .contenedorConfirmarCompra {
        width: auto;
    }

    .loginMobile {
        display: inline-block;
        position: absolute;
        top: 5px;
        right: 85px;
    }

    .local,
    .Envios {
        display: none;
    }

    #enunciado {
        text-align: center;
        display: inline-block;
        position: relative;
        left: -30px;

    }

    .enunciados {
        display: block;
        text-align: center;
    }

    #logo {
        margin-left: -30px;
    }

    .listadoProductos {
        padding-top: 17px;
    }



}

#tituloMensajeDespacho {
    color: #1e72d2;
    text-align: center;

}

@media (width<=973px) {
    .contenedorProductos {

        grid-template-columns: 60% 40% !important;
    }
}

@media(width<=750px) {
    .buscador {
        display: none;
        background-color: #1e72d2;
    }

    header #imgFlechaDerecha {
        display: none;
    }

    .elegirArea {
        padding-top: 10px;
    }

    header {
        height: 95px;
    }

    .barraNavSuperior {
        height: 20px;
    }

    .enunciados {
        position: relative;
        top: -10px;
        left: 16px;
        z-index: 1;
    }

    nav {
        top: -80px;
    }

    .barraNavSuperior {
        height: 132px;
    }

    #buscarCelular {
        display: inline-block;
        position: absolute;
        right: 97px;
        top: 15px;

    }

    #carrito {
        position: relative;
        top: 4px;
    }

    #buscarCelular,
    #carrito {
        width: 32px;

    }

    ul {
        font-size: 13px;
        margin-top: 9px !important;

    }

    .loginMobile {
        display: none;
    }

    .menuDesplegableLaptop {
        right: 0px;
        top: 60px;
        width: 90%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 20px;
        animation-duration: 0.3s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        padding-bottom: 90px;
        backdrop-filter: blur(3px);
    }

    .localLaptop {
        padding-top: 40px;
    }

    .cuentaCelular {
        display: inline-block;
        padding: 10px;
    }

    .cuentaCelular img {
        display: inline-block;
        width: 50px;
        position: absolute;
        margin: 0px;
        left: 20px;
    }

    .cuentaCelular h3 {
        display: inline-block;
        position: absolute;
        top: 45px;
        left: calc(35% - 38px);
        font-size: 18px;
    }

    .btnCerrarSesionMobile {
        display: inline-block;
        position: absolute;
        bottom: 20px;
        left: calc(50% - 50px);
        background: #cccccc9f;
        padding: 5px 10px;
        border: #ccc solid 1px;
        border-radius: 10px;
        color: #d21e1e;
    }

    #carritoCelular {
        display: inline-block;
        width: 46px;
        position: absolute;
        cursor: pointer;
        top: 30px;
        left: calc(93% - 40px);
        z-index: 200;

    }

    .tarjetaProducto {
        width: 70%;
        margin-top: 0px;
    }

    .tarjetaProducto img {
        width: 270px;
        margin-left: calc(30% - 80px);
    }

    .tarjetaProducto .btnAagregar {
        margin-left: calc(50% - 85px) !important;
    }

    .notificacion {
        right: 0px;
    }

    .producto button:hover {
        background: none;
        color: #1e72d2;

    }

    .contenedorSugerenciasBusqueda li {
        display: block;

    }

    .contenedorSugerenciasBusqueda {
        height: auto;
        max-height: 500px;
        overflow: auto;
        position: relative;
        left: -10px;
        top: 16px;
        width: 330px;
    }

    #buscarMobile {
        position: absolute;
        left: -20px;
        top: -1px;
        padding: 15px;
        width: 300px;
    }

    .ProductosEnElCarrito {
        padding-top: 0px !important;
        position: relative;
        top: -49px;
        width: 100%;
    }

    .ProductosEnElCarrito ul {
        padding-top: 0px;

    }

    .ProductosEnElCarrito .listadoProductos {
        padding-bottom: 0px;
    }

    /* estilo del contenedor finalizar compra */
    .contenedorConfirmarCompraCelular {
        display: block;
        width: 90%;
        margin: auto;
        padding: 10px;
        background: #ccccccaf;
        position: relative;
        top:-40px;
        border: dashed #0077ff 2px ;
    }

    .contenedorConfirmarCompraCelular h1{
        color: #0077ff;
        text-align: center;
        padding: 10px 0px;
    }
    .contenedorConfirmarCompraCelular b{
        color:#026a9b;
        font-weight: 500;
    }
    .contenedorConfirmarCompraCelular label{
        font-size: 20px;
    }
    .contenedorConfirmarCompraCelular .precioTotalEnCarrito{
        color: #0aaf04;
        margin-top: 5px;
        display: inline-block;
        margin-left: 5px;
    }
    .contenedorConfirmarCompraCelular  button{
        display: block;
        margin: auto;
        margin-bottom: 20px;
        padding: 10px 15px;
        border-radius: 5px;
        border: solid 1px #0077ff;
        background: none;
        color: #0077ff;
    }
    /* --------------- */
}